<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <title>Rapid Rescue | @ViewData["Title"] </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="~/assets/css/feather.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<body>
 
       

            <div>
                @RenderBody()
            </div>

  
    <div class="sidebar-overlay" data-reff></div>

    <script src="~/assets/js/jquery-3.7.1.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/feather.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/jquery.slimscroll.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/select2.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/jquery.waypoints.js" type="350181ec80dc51c00069179a-text/javascript"></script>
    <script src="~/assets/js/jquery.counterup.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="350181ec80dc51c00069179a-text/javascript"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js" type="350181ec80dc51c00069179a-text/javascript"></script>

    <script src="~/assets/js/app.js" type="350181ec80dc51c00069179a-text/javascript"></script>
    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="350181ec80dc51c00069179a-|49" defer></script>
</body>
</html>
