@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AdminLayoutEmpty.cshtml";
}
<div class="main-wrapper login-body">
<div class="container-fluid px-0">
<div class="row">

<div class="col-lg-6 login-wrap">
<div class="login-sec">
<div class="log-img">
<img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
</div>
</div>
</div>


<div class="col-lg-6 login-wrap-bg">
<div class="login-wrapper">
<div class="loginbox">
<div class="login-right">
<div class="login-right-wrap">
<div class="account-logo">
<a href="index.html"><img src="~/assets/img/login-logo.png" alt=""/></a>
</div>
<h2>Login</h2>

<form action="index.html">
<div class="input-block">
<label>Email <span class="login-danger">*</span></label>
<input class="form-control" type="text">
</div>
<div class="input-block">
<label>Password <span class="login-danger">*</span></label>
<input class="form-control pass-input" type="password">
<span class="profile-views feather-eye-off toggle-password"></span>
</div>
<div class="forgotpass">
<div class="remember-me">
<label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
<input type="checkbox" name="radio">
<span class="checkmark"></span>
</label>
</div>
<a href="forgot-password.html">Forgot Password?</a>
</div>
<div class="input-block login-btn">
<button class="btn btn-primary btn-block" type="submit">Login</button>
</div>
</form>

<div class="next-sign">  <p class="account-subtitle">Need an account? <a asp-action="Register_User" asp-controller="User">Sign Up</a></p>

<div class="social-login">
<a href="javascript:;"><img src="~/assets/img/icons/login-icon-01.svg" alt></a>
<a href="javascript:;"><img src="~/assets/img/icons/login-icon-02.svg" alt></a>
<a href="javascript:;"><img src="~/assets/img/icons/login-icon-03.svg" alt></a>
</div>

</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>