@model UserViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AdminLayoutEmpty.cshtml";
}

<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">

            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
                    </div>
                </div>
            </div>


            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <div class="account-logo">
                                    <a href="index.html"><img src="~/assets/img/login-logo.png" alt></a>
                                </div>
                                <h2>Getting Started</h2>

                                <form asp-action="Register_User" asp-controller="User" method="post">
                                    @* Add the validation summary for model errors *@
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="input-block">
                                        <label asp-for="FirstName"></label>
                                        <input class="form-control" asp-for="FirstName" />
                                        <span class="text-danger" asp-validation-for="FirstName"></span>
                                    </div>

                                    <div class="input-block">
                                        <label asp-for="LastName"></label>
                                        <input class="form-control" asp-for="LastName" />
                                        <span class="text-danger" asp-validation-for="LastName"></span>
                                    </div>

                                    <div class="input-block">
                                        <label asp-for="Email"></label>
                                        <input class="form-control" asp-for="Email" />
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>

                                    <div class="input-block">
                                        <label asp-for="Password"></label>
                                        <input class="form-control" asp-for="Password" type="password" />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>

                                    <div class="input-block">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input class="form-control" asp-for="ConfirmPassword" type="password" />
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>

                                    <div class="forgotpass">
                                        <div class="remember-me">
                                            <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                                I agree to the <a href="#">terms of service</a> and <a href="#">privacy policy</a>
                                                <input type="checkbox" name="terms" required />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="input-block login-btn">
                                        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                                    </div>
                                </form>

                                <div class="next-sign">
                                    <p class="account-subtitle">Already have account? <a asp-action="Login_User" asp-controller="User">Login</a></p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>