@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AdminLayoutEmpty.cshtml";
}

<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">

            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
                    </div>
                </div>
            </div>


            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <div class="account-logo">
                                    <a href="index.html"><img src="~/assets/img/login-logo.png" alt></a>
                                </div>
                                <h2>Getting Started</h2>

                                <form action="login.html">
                                    <div class="input-block">
                                        <label>Full Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="input-block">
                                        <label>Email <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="input-block">
                                        <label>Password <span class="login-danger">*</span></label>
                                        <input class="form-control pass-input" type="password">
                                        <span class="profile-views feather-eye-off toggle-password"></span>
                                    </div>
                                    <div class="input-block">
                                        <label>Confirm Password <span class="login-danger">*</span></label>
                                        <input class="form-control pass-input-confirm" type="password">
                                        <span class="profile-views feather-eye-off confirm-password"></span>
                                    </div>
                                    <div class="forgotpass">
                                        <div class="remember-me">
                                            <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                                I agree to the <a href="javascript:;">&nbsp terms of service </a>&nbsp and <a href="javascript:;">&nbsp privacy policy </a>
                                                <input type="checkbox" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-block login-btn">
                                        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                                    </div>
                                </form>

                                <div class="next-sign">
                                    <p class="account-subtitle">Already have account? <a asp-action="Login_User" asp-controller="User">Login</a></p>

                                    <div class="social-login">
                                        <a href="javascript:;"><img src="~/assets/img/icons/login-icon-01.svg" alt></a>
                                        <a href="javascript:;"><img src="~/assets/img/icons/login-icon-02.svg" alt></a>
                                        <a href="javascript:;"><img src="~/assets/img/icons/login-icon-03.svg" alt></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>