@model List<Tuple<string, string>>

@{
    ViewData["Title"] = "Team";
}
@await Html.PartialAsync("Breadcrumb", Model)

<section class="team-style1-area">
    <div class="container">
        <div class="row">
            <!--Start Single Team Style1-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/homeassets/images/team/kashan.jfif" alt="Kashan Abbas Naqvi" style="height: 400px; object-fit: cover;" />
                        </div>
                        <div class="title-holder text-center">
                            <h2><a href="team.html#">Kashan Abbas Naqvi</a></h2>
                            <h3>Full Stack Developer and Lead of the Project</h3>
                            <div class="overlay-title">
                                <h2><a href="team.html#">Kashan Abbas Naqvi</a></h2>
                                <h3>Full Stack Developer and Lead of the Project</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Team Style1-->
            <!--Start Single Team Style1-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style1 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/homeassets/images/team/team-v1-2.jpg" alt="Zaayan Zubair" style="height: 400px; object-fit: cover;" />
                        </div>
                        <div class="title-holder text-center">
                            <h2><a href="team.html#">Zaayan Zubair</a></h2>
                            <h3>Full Stack Developer, Flow Creator, and Tester</h3>
                            <div class="overlay-title">
                                <h2><a href="team.html#">Zaayan Zubair</a></h2>
                                <h3>Full Stack Developer, Flow Creator, and Tester</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Team Style1-->
            <!--Start Single Team Style1-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/assets/img/ahsan.jpg" alt="Ahsan Hussan" style="height: 400px; object-fit: cover;" />
                        </div>
                        <div class="title-holder text-center">
                            <h2><a href="team.html#">Ahsan Hussan</a></h2>
                            <h3>Full Stack Developer and Code Maintainer</h3>
                            <div class="overlay-title">
                                <h2><a href="team.html#">Ahsan Hussan</a></h2>
                                <h3>Full Stack Developer and Code Maintainer</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Team Style1-->
            <!--Start Single Team Style1-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style1 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/homeassets/images/team/prem.jfif" alt="Prem Kumar" style="height: 400px; object-fit: cover;" />
                        </div>
                        <div class="title-holder text-center">
                            <h2><a href="team.html#">Prem Kumar</a></h2>
                            <h3>Full Stack Developer, UI and Tester</h3>
                            <div class="overlay-title">
                                <h2><a href="team.html#">Prem Kumar</a></h2>
                                <h3>Full Stack Developer, UI and Tester</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Team Style1-->
        </div>
    </div>
</section>
