@model List<Tuple<string, string>>

@{
    ViewData["Title"] = "Testimonials";
}
@await Html.PartialAsync("Breadcrumb", Model)

<section class="testimonial-page">
    <div class="container">
        <div class="row">
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-1.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Sarah Albert</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-2.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Salena Smith</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-3.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Sarah Albert</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-4.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Sarah Albert</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-5.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Sarah Albert</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
            <!--Start Testimonial Style2 Single-->
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="testimonial-style2__single text-center" data-aos="fade-up" data-aos-easing="linear"
                     data-aos-duration="1500">
                    <div class="img-holder">
                        <img src="~/homeassets/images/testimonial/testimonial-v2-2.jpg" alt="">
                    </div>
                    <div class="text-holder">
                        <p>
                            This is due to their best service, pricing and customer support. It’s throughly
                            refresing to get such a personal touch. Duis aute irure lupsum istect
                            reprehenderit.
                        </p>
                        <div class="border-box"></div>
                        <div class="client-info">
                            <h3>Sarah Albert</h3>
                            <span>Customers</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonial Style2 Single-->
        </div>
    </div>
</section>

