@{
    ViewData["Title"] = "Map Page";

}


<section class="about-style1-area">

    <div class="row text-right-rtl">
        <div class="col-xl-6">
            <div class="about-style3__image">
                <div class="inner">
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="about-style3__content">
                <div class="sec-title">
                    <div class="icon">
                        <span class="icon-heartbeat"></span>
                    </div>
                    <div class="sub-title">
                        <form method="post">
                            @Html.AntiForgeryToken()
                            <button id="requestAmbulanceBtn" style="position: absolute; top: 20px; left: 20px; z-index: 5;">
                                Request Ambulance
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Request Ambulance Button -->

        <div id="map"></div>

        </section>


        <!-- Include the Google Maps API -->
       
